.btn-custom {
	background-color: #A90D0D;
	color: white;
}

.btn-custom:hover {
	color: white;
	background-color: #e00000;
}

.center {
	text-align: center;
}

.margin {
	margin: 2em 5em;
}

hr {
	border-style: inset;
    border-width: 1px;
}

ul {
	margin-bottom: 0;
}

thead {
	background-color: #A10D0D;
	color: white;
}